VENUE_PROFILES=loadtest,venue-perf-test

POSTGRES_VENUE_HOST=10.0.1.43
POSTGRES_VENUE_PORT=5432
POSTGRES_VENUE_PASSWORD=change-me

VENUE_IP_ADDRESS=10.0.1.13
VENUE_SERVER_PORT=18086
VENUE_IMAGE_TAG=loadtest-cdn

NCP_OBJECT_STORAGE_END_POINT=https://example.objectstorage.region.ncloudstorage.com
NCP_OBJECT_STORAGE_REGION=kr-standard
NCP_OBJECT_STORAGE_BUCKET=example-bucket
NCP_CDN_BASE_URL=https://cdn.example.com
NCP_OBJECT_STORAGE_ACCESS_KEY=change-me
NCP_OBJECT_STORAGE_SECRET_KEY=change-me