PROMETHEUS_HOST=10.0.1.12
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

REDIS_EXPORTER_PORT=9121
REDIS_ADDR=redis://10.0.1.20:6379

KAFKA_EXPORTER_PORT=9308
KAFKA_BROKER_1=10.0.1.30:9092
KAFKA_BROKER_2=10.0.1.30:9093
KAFKA_BROKER_3=10.0.1.30:9094

POSTGRES_RESERVATION_HOST=10.0.1.41
POSTGRES_RESERVATION_PORT=5432
POSTGRES_RESERVATION_PASSWORD=change-me

POSTGRES_PAYMENT_HOST=10.0.1.42
POSTGRES_PAYMENT_PORT=5432
POSTGRES_PAYMENT_PASSWORD=change-me

POSTGRES_VENUE_HOST=10.0.1.43
POSTGRES_VENUE_PORT=5432
POSTGRES_VENUE_PASSWORD=change-me