POSTGRES_PAYMENT_HOST=10.0.1.42
POSTGRES_PAYMENT_PORT=5432
POSTGRES_PAYMENT_PASSWORD=change-me

TOSS_CLIENT_KEY=change-me
TOSS_SECRET_KEY=change-me
TOSS_SUCCESS_URL=http://10.0.1.11:18081/api/v1/payments/success
TOSS_FAIL_URL=http://10.0.1.11:18081/api/v1/payments/fail

PAYMENT_IP_ADDRESS=10.0.1.14
PAYMENT_SERVER_PORT=18089